# SOA packages published to AWS CodeArtifact
@saga-ed:registry=https://saga-531314149529.d.codeartifact.us-west-2.amazonaws.com/npm/saga_soa/

# Private packages from GitHub
@hipponot:registry=https://npm.pkg.github.com
